body{
    text-align: center;
    background-color: #011F3F;
}

#level-title{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;
}

.container{
    display: block;
    width: 50%;
    margin: auto;
}

.btn{
    display: inline-block;
    margin: 25px;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
}

.game-over{
    background-color: red;
    opacity: 0.8;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.pressed{
    box-shadow: 0 0 20px white;
    background-color: gray;
}